{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "flow"
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert",
      ],
      "plugins": [
        "flow-runtime",
        "flow-react-proptypes",
        "istanbul"
      ]
    }
  }
}
