{
  "presets": [
    "react"
  ],
  "plugins": [
    "flow-react-proptypes",
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-async-to-generator",
    "transform-flow-strip-types"
  ]
}
