.react-calendar-heatmap {
  & text {
    font-size: 10px;
    fill: #aaa;
  }

  & [rect:hover] {
    stroke: #555;
    stroke-width: 1px;
  }

  & .color-github {
    &-0 {
      fill: #eee;
    }

    &-1 {
      fill: #d6e685;
    }

    &-2 {
      fill: #8cc665;
    }

    &-3 {
      fill: #44a340;
    }

    &-4 {
      fill: #1e6823;
    }
  }
}
