pre.
   {
       "id": "9renpoto",
       "name": "Keisuke Kan",
  -    "ingress": "Resistance",
  -    "editor ": "vim",
  +    "homepage": "https://9renpoto.github.io",
  +    "editor": "atom",
       "game": [
           "FPS",
  -        "RTS",
  -        "格ゲー",
           "音ゲー"
       ]
   }
