extends ./base.pug

block head
  meta(name="viewport", content="width=device-width,initial-scale=1")
  meta(name="description", content="top page")

block body
  ul
    li
      a(href="/test-view-app/") test-view-app
    li
      a(href="/json-response/") json-response
